<!DOCTYPE html>
<html>
<head>
	<title>展示图片</title>
</head>
<body>
	<ul>
	  <li>{{ image_text[0] | safe }}</li>
	</ul>
	<img src="{{image_text[1]}}" alt="Image" />
	<img src="{{image_text[2]}}" alt="Image" />
	<img src="{{image_text[3]}}" alt="Image" />
	<img src="{{image_text[4]}}" alt="Image" />
	<img src="{{image_text[5]}}" alt="Image" />
	<img src="{{image_text[6]}}" alt="Image" />
	<img src="{{image_text[7]}}" alt="Image" />
	<img src="{{image_text[8]}}" alt="Image" />
	<img src="{{image_text[9]}}" alt="Image" />
	<img src="{{image_text[10]}}" alt="Image" />
	<img src="{{image_text[11]}}" alt="Image" />
</body>
</html>