/*穿搭推荐样式表*/
.wear-background {
  width: 100%;
  height: 100vh;
  background: linear-gradient(thistle 30%, #fff 100%);
  /*scroll-snap-align: start;*/
}

.wear-content {
  display: block;
  height: 65%;
  width: 58%;
  margin: 2% 20%;
  position: relative;
  overflow-y: scroll;
  padding: 30px;
  font-family: "monsterrat", sans-serif;
  color: black;
  text-align: left;
  background-image: url("./src/assets/Header 7.png");
  background-size: contain;
  border-radius: 10px;
}

.wear-title {
  width: 100%;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 40px;
}

.wear-description {
  text-align: left;
  margin-left: 20px;
  animation: appear 0.5s ease-in-out;
}

.wear-description p span {
  cursor: pointer;
  color: green;
  font-weight: bold;
}

.wear-stopgenerate {
  position: absolute;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  left: 0;
  right: 0;
  margin: auto;
  height: 30px;
  width: 80px;
  border: red 4px solid;
  border-radius: 4px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.wear-stopgenerate:hover {
  background: red;
  color: aliceblue;
}

.wear-input {
  width: 60%;
  margin-left: 20%;
  border: 2px solid black;
  padding: 10px;
  text-align: left;
  border-radius: 2px;
  display: flex;
  transition: all .5s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
}
.wear-input-text {
  background: transparent;
  border: none;
  outline: none;
  width: 90%;
  font-size: 16px;
  margin-right: 6%;
}

.wear-input-submit {
  background: transparent no-repeat;
  width: 20px;
  height: 20px;
  background-image: url(./src/assets/发送_send.png);
  background-size: contain;
  cursor: pointer;
  border: none;
}

.wear-dialog {
  display: flex;
  margin: 25px;
  animation: appear 0.5s ease-in-out;
}

.wear-dialog:nth-child(even) img {
  width: 24px;
  height: 24px;
  padding: 10px;
  background: url("./src/assets/avatar_user.png");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.wear-dialog:nth-child(odd) img {
  width: 24px;
  height: 24px;
  padding: 10px;
  background: url("./src/assets/avatar_ai.png");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.wear-dialog-listbox {
  margin-left: 20px;
  line-height: 30px;
  width: 80%;
}

.wear-functional {
  height: 40px;
  width: 120px;
  float: right;
  margin-right: 19.5%;
  position: relative;
  transition: all .5s ease-in-out;
  display: flex;
}

.wear-functional img {
  height: 20px;
  width: 20px;
  padding: 10px;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.wear-functional img:hover {
  background: rgba(0, 0, 0, 0.3);
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}